[Unit]
Description=Audiobookshelf

[Container]
Image=ghcr.io/advplyr/audiobookshelf:latest
ContainerName=audiobookshelf
Volume=/mnt/data/audiobooks:/audiobooks
Volume=/mnt/data/podcasts:/podcasts
Volume=/opt/audiobookshelf/config:/config
Volume=/opt/audiobookshelf/metadata:/metadata
Environment=TZ=Europe/Amsterdam
Network=homelab

[Service]
Restart=always

[Install]
WantedBy=default.target