[Unit]
Description=AdventureLog Backend
After=adventurelog-db.service

[Container]
Image=ghcr.io/seanmorley15/adventurelog-backend:latest
ContainerName=adventurelog-backend
Volume=/opt/adventurelog/media:/code/media
Environment=PGHOST=adventurelog-db
Environment=POSTGRES_DB=database
Environment=POSTGRES_USER=adventure
Environment=PUBLIC_URL=https://adventures-api.irisa.dev
Environment=CSRF_TRUSTED_ORIGINS=https://adventures-api.irisa.dev,https://adventures.irisa.dev
Environment=FRONTEND_URL=https://adventures.irisa.dev
Environment=DEBUG=False
Environment=DJANGO_ADMIN_USERNAME=iserila
Environment=DJANGO_ADMIN_EMAIL=me@iserila.com
Environment=DISABLE_REGISTRATION=True
Secret=adventurelog_db_password,type=env,target=POSTGRES_PASSWORD
Secret=adventurelog_secret_key,type=env,target=SECRET_KEY
Secret=adventurelog_admin_password,type=env,target=DJANGO_ADMIN_PASSWORD
Network=homelab

[Service]
Restart=always

[Install]
WantedBy=default.target