[Unit]
Description=Directus CMS
After=directus-db.service

[Container]
Image=directus/directus:11.5.0
ContainerName=directus
Volume=/opt/directus/uploads:/directus/uploads
Volume=/opt/directus/extensions:/directus/extensions
Volume=/opt/directus/templates:/directus/templates
Environment=DB_CLIENT=pg
Environment=DB_HOST=directus-db
Environment=DB_PORT=5432
Environment=DB_DATABASE=directus
Environment=DB_USER=directus
Environment=DB_PASSWORD=directus_db_pass
Environment=CACHE_ENABLED=false
Environment=PUBLIC_URL=https://geteizem-cms.irisa.dev
Environment=ADMIN_EMAIL=me@iserila.com
Environment=ADMIN_PASSWORD=changeme
Secret=directus_secret,type=env,target=SECRET
Network=homelab

[Service]
Restart=always

[Install]
WantedBy=default.target